@font-face
{
     font-family: old_britch;
    src: url(../fonts/old_britch/old_britch.ttf);
    
}
@font-face
{
     font-family: wet_painte;
    src: url(../fonts/wet_painte/wet_painte.ttf);
    
}
@font-face
{
     font-family: small_endline_word;
    src: url(../fonts/small_endline_word/small_endline_word.ttf);
    
}
@font-face
{
     font-family: Princess_Sofia;
    src: url(../fonts/Princess_Sofia/Princess_Sofia.ttf);
    
}
@font-face
{
     font-family: long_line_top;
   src: url(../fonts/long_line_top/long_line_top.ttf);
    
}
@font-face
{
     font-family: long_line_bottom;
    src: url(../fonts/long_line_bottom/long_line_bottom.ttf);
    
}
@font-face
{
     font-family: like_kid_write;
    src: url(../fonts/like_kid_write/like_kid_write.ttf);
    
}
@font-face
{
     font-family:insidesquare;
    src: url(../fonts/insidesquare/insidesquare.ttf);
    
}
@font-face
{
     font-family: drown_words;
    src: url(../fonts/drown_words/drown_words.ttf);
    
}
@font-face
{
     font-family: dr_write;
   src: url(../fonts/dr_write/dr_write.ttf);
    
}
@font-face
{
     font-family: Dancing;
    src: url(../fonts/Dancing/Dancing.ttf);
    
}
@font-face
{
     font-family: britch_Pacifico;
    src: url(../fonts/britch_Pacifico/britch_Pacifico.ttf);
    
}
@font-face
{
     font-family: word_made_lines;
    src: url(../fonts/word_made_lines/word_made_lines.ttf);
    
} 
     
